<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>62843899247-esm4u0j0dtqql61a7k6gpqglbvu5sr83.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.62843899247-esm4u0j0dtqql61a7k6gpqglbvu5sr83</string>
	<key>API_KEY</key>
	<string>AIzaSyAv2CZNUSAcgysKOkXJJXK5VK0WpKrldUc</string>
	<key>GCM_SENDER_ID</key>
	<string>62843899247</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>amrit.RevCollView</string>
	<key>PROJECT_ID</key>
	<string>reversedcollecview</string>
	<key>STORAGE_BUCKET</key>
	<string>reversedcollecview.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:62843899247:ios:56391558522eb02a</string>
	<key>DATABASE_URL</key>
	<string>https://reversedcollecview.firebaseio.com</string>
</dict>
</plist>